<!--The content below is only a placeholder and can be replaced.-->


<mat-toolbar color="primary" id="toolbar">
  <mat-toolbar-row>
    <span style="text-align: center;">TL;DM</span>
    <span class="example-spacer"></span>

  </mat-toolbar-row>
</mat-toolbar>

<!-- <div>
  <h2>Hello {{nick}}!</h2>
</div> -->

<!--
<div class="container">

  <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
    <div>
      <label for="message">Message</label>
      <input type="text" id="message" name="message" [(ngModel)]="message" required>
    </div>
    <button type="submit" id="sendmessage" [disabled]="!chatForm.valid">
      Send
    </button>
  </form>
</div> -->

<!--
<div class="container" style="float:left;" *ngIf="messages.length > 0">
  <div *ngFor="let message of messages">
    <span>{{message}}</span>
  </div>
</div>

<div class="container" style="float:right;" id="id">
  <button type="submit" (click)="getid()">
    get connection id
  </button>
</div>

<div class="container" style="float:right;">
  <button type="submit" (click)="join()" id="nick1">
    join a group
  </button>
</div>



<div>
  Enter group message ...
  <div>
    <input type="text" id="grpmsg" name="grpmsg" [(ngModel)]="grpmsg" required>
  </div>
  <button type="submit" (click)="sendMessageingrp()">
    send message to group
  </button>
</div>

<div class="container" style="float:right;" *ngIf="grpmsgs.length > 0">
  <div *ngFor="let message of grpmsgs">
    <span>{{message}}</span>
  </div>
</div>


<div class="container" style="float:right;">
  <button type="submit" (click)="leave()" id="nick">
    leave a group
  </button>
</div>


<br><br><br> -->


<!-- <form [formGroup]="WorkSpaceForm" (ngSubmit)="createworkspace()">
  <label>Create workspace:</label>
  <input formControlName="workspaceName" [(ngModel)]="WorkspaceToCreate.workspaceName" placeholder="workspaceName">
  <button type="submit">submit</button>
</form>


<br><br><br><br>
<form [formGroup]="UserForm" (ngSubmit)="addusertoworkspace()">
  <label>Enter FirstName:</label>
  <input formControlName="firstName" placeholder="firstName">
  <label>Enter LastName:</label>
  <input formControlName="lastName" placeholder="lastName">
  <label>Enter UserName:</label>
  <input formControlName="userName" placeholder="userName">
  <label>Enter Designation:</label>
  <input formControlName="designation" placeholder="designation">
  <label>Enter WorkspaceName:</label>
  <input formControlName="workspaceName" placeholder="workspaceName">
  <button type="submit">Add User</button>
</form> -->



<br><br><br><br>

<h1>
  Enter your email id
</h1>
<label>EmailId:</label>
<input type="text" id="emailId" name="emailId" [(ngModel)]="emailId" required>
<h1>
  Enter your Workspace Name
</h1>
<label>WorkspaceName:</label>
<input type="text" id="workspaceName" name="workspaceName" [(ngModel)]="workspaceName" required>
<button type="submit" (click)="ListAllChannels()">
  See Your Channels
</button>

<!-- <div *ngIf="channelArray.length>0">
  <ul *ngFor="let channel of channelArray" >
    <li>
      {{channel.ChannelName}} -> {{channel.ChannelId}}
    </li>
  </ul>
</div> -->


<h1>
  Enter your channel id to chat in channel
</h1>
<label>ChannelId:</label>
<input type="text" id="channelId" name="channelId" [(ngModel)]="channelId" required>



<!-- <h1>
  Hello {{username}}
</h1> -->
<!-- <h2>
  Press this to enter your general channel
</h2>
<button type="submit" (click)="startChannelCommunication()">
  Broadcast @General
</button> -->
<div>
  <p>
    You are in {{workspaceName}} WorkSpace
    Your channelid is {{channelId}}
  </p>
</div>
<div>
  Enter Channel message ...
  <div>
    <input type="text" id="channelmessage" name="channelmessage" [(ngModel)]="channelmessage" required>
  </div>
  <button type="submit" (click)="sendMessageInChannel()">
    send message in general channel
  </button>
</div>

<div class="container" style="float:left;" *ngIf="channelmessages.length > 0">
  <div *ngFor="let message of channelmessages">
    <span>{{message}}</span>
  </div>
</div>
