.example-container {
  position: relative;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
 }

 .sidenavContent {
  height: auto;
  /* margin-left: 300px !important; */
  align-self: auto;
  align-content: space-around;
  text-align: center;
 }

 .sidenav-drawer {
  height: 460px;
 }

 /* .side-nav-drawer{
   width: 100%;
 } */

 .example-icon {
  padding: 0 14px;
 }

 .example-spacer {
  flex: 1 1 auto;
 }

 .message-input{
   margin-top: 260px;
 }

 /* .message-list{
   text-align: left;
 } */

 .channel-name{
   text-align: right;
 }

 .add-channel-icon{
   padding: 0 14px;
   cursor: pointer;
 }

 .channel-heading{
   justify-content: space-between;
 }
