/* .user-details{
  justify-content: center;
  font-size: 1rem;
  height: 20px;
  padding-top: 20px;
}

mat-sidenav{
  height: auto;
}

.user-workspace {
  justify-content: center;
  height: 20px;
  font-weight: 600;
  padding-top: 13px;
}

.sidenav-container {
  position: relative;
  left: 0;
  right: 0;
  height: -webkit-fill-available;
 }

 .sidenavContent {
  height: -webkit-fill-available;
  align-self: auto;
  align-content: space-around;
  text-align: center;
 }

 .sidenav-drawer {
  background-color: #3f51b5;
  height: -webkit-fill-available;
 }

 .side-nav-drawer{
  position: relative;
  height: -webkit-fill-available;
 }

 .mat-sidenav {
   height: -webkit-fill-available;;
 }

 .example-icon {
  padding: 0 14px;
 }

 .example-spacer {
  flex: 1 1 auto;
 }

 .message-input{
   height: 20px;
 }

 .message-list{
   text-align: left;
   max-width: 450px;
   height: auto;

 }

 .channel-name{
   text-align: right;
 }

 .add-channel-icon{
   padding: 0 14px;
   cursor: pointer;
 }

 .channel-heading{
   justify-content: space-between;
 }

 .message-card {
   height: max-content;
 }

 .message-form-input{
   margin-bottom: 0;
   position: relative;
 }

 .messagelistcontainer {
  overflow-y: scroll;
 }
 */

 /* -------------------------------------------- */

 .main-container {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   /* background: rgb(238, 230, 118); */
   display: flex;
   flex-direction: column;
   overflow-y: auto;
 }

 .side-toolbar {
   min-height: 64px;
   position: relative;
 }

 .example-spacer {
  flex: 1 1 auto;
 }

 .sidenavContent {
  height: -webkit-fill-available;
  align-self: auto;
  align-content: space-around;
  text-align: center;
  overflow-y: auto;
 }

 .channelname {
   padding-left: 20px;

 }

 .channel-name {
  justify-content: space-evenly;
 }

 .user-details{
  justify-content: left;
  font-size: 15px;
  height: 20px;
  padding-top: 20px;
}

.user-workspace {
  justify-content: left;
  height: 20px;
  font-weight: 600;
  padding-top: 13px;
}

.content-toolbar {
  position: fixed ;
  min-height: 64px;
  z-index: 10 ;
}

.content-inner-container {
  position: relative;
}

.message-input-card {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 0;
}

.pmd-card {
  margin: 0;
}

.message-content {
  margin-top: 55px;
}
