<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary" class="side-toolbar">
      <mat-toolbar-row class="user-workspace">
        <span>{{workspaceName}}</span>
      </mat-toolbar-row>

      <mat-toolbar-row class="user-details">
        <span>{{emailId}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="side-sub-content">
      <mat-nav-list td-sidenav-content>
        <mat-divider></mat-divider>
        <h3 mat-subheader class="channel-heading">CHANNELS
          <a>
            <mat-icon class="add-channel-icon" (click)=Channel()>playlist_add</mat-icon>
          </a>
        </h3>

        <div *ngIf="channelArray.length>0">
          <div *ngFor="let channel of channelArray">
            <a mat-list-item class="tc-white" (click)="getSelectedChannelDetails(channel)"><mat-icon class="tc-white" matListIcon>forum</mat-icon>
              {{channel.channelName}}</a>
          </div>
        </div>

        <mat-divider></mat-divider>
        <h3 mat-subheader class="channel-heading">Direct Messages
        </h3>

        <!-- <div *ngIf="directMessageChat.length>0">
          <div *ngFor="let directMessage of directMessageChat">
            <a mat-list-item class="tc-white" (click)="getSelectedChannelDetails(channel)"><mat-icon class="tc-white" matListIcon>forum</mat-icon>
              {{directMessage.channelName}}</a>
          </div>
        </div> -->
        <div *ngIf="allUsers.length>0">
          <div *ngFor="let user of allUsers">
            <a mat-list-item class="tc-white"><mat-icon class="tc-white" matListIcon>forum</mat-icon>
              {{user.firstName}} {{user.lastName}}</a>
          </div>
        </div>
        <mat-divider></mat-divider>

      </mat-nav-list>
    </div>
  </mat-sidenav>


  <mat-sidenav-content class="sidenavContent">

    <div>
      <mat-toolbar style="background-color: rgb(63, 81, 181); color:aliceblue" class="content-toolbar">
        <mat-toolbar-row class="channel-name">
          <div class="channelname">
            #{{channelName}}
          </div>
          <span class="example-spacer"></span>
          <mat-icon class="add-member-icon" (click)="addMembersToChannel()">person_add</mat-icon>
          <button mat-button routerLink="/invite" style="position: fixed">Invite to workspace</button>
        </mat-toolbar-row>
      </mat-toolbar>


      <div cdkscrollable flex>
        <mat-sidenav-container class="content-inner-container">
          <mat-sidenav></mat-sidenav>
          <mat-sidenav-content cdkscrollable class="message-content">
            <mat-card class="message-card" #messagecard>
              <div *ngIf="channelmessages.length > 0" class="messagelistcontainer">
                <div class="pmd-card pmd-z-depth message-list">
                  <ul class="list-group pmd-list pmd-card-list" *ngFor="let message of channelmessages">
                    <li class="list-group-item">
                      <div class="media-body" style="font-family: 'Roboto', sans-serif;">
                        <h3 class="pmd-card-title-text">{{message?.messageId}}</h3>
                        <span class="pmd-card-subtitle-text">{{message?.messageBody}} </span>
                        <mat-divider></mat-divider>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </mat-card>
            <mat-card class="message-input-card">
              <form class="message-form-input">
                <mat-form-field>
                  <input matInput placeholder="Type your message" type="text" id="channelmessage" name="channelmessage" [(ngModel)]="channelmessage"
                    required>
                </mat-form-field>
                <button mat-button class="send-button" (click)="sendMessageInChannel()"> <mat-icon>send</mat-icon> </button>
              </form>
            </mat-card>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
